/* ============ list ========================= */

.cc-viewport {
    padding-top: 10px;
    /* width: 50%; */
    /* margin: 0 auto; */
}

/* ============ list ========================= */

/* .note-list {
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
} */

/* container of table */
.cc-ml-tblcon {
    height: 600px;
}

.cc-ml-tbl {
    width: 100%;
}

.cc-ml-tbl td div.cc-ml-tbl-title {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cc-ml-tbl td div.cc-ml-tbl-cmd {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ============ edit ========================= */

/* .note-edit {
    padding-top: 10px;
    width: 50%;
    margin: 0 auto;
} */